@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>Carga de Datos</h1>
    <p class="lead">Aplicacion que permitirá cargar la base de datos de la página ohlalaph.com</p>
</div>
