@{
    ViewBag.Title = "Fifteen";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <script src="~/Scripts/general-functions.js"></script>
    <script>
        window.onload = function () {
            initGallery(3);
        };

        $(function () {
            $('.thumbs a').touchTouch();
        });
    </script>
</head>

<body>
<div id="content">
    <div class="row_1_Section">
        <div class="container">
            <p class="title2" style="margin-bottom: 10px; padding-top:25px">En Oh Lalá nos sentimos felices de acompañar a las quinceañeras en el momento más soñado de sus vidas.</p>
            <p class="title2">Buscamos la creatividad, innovación y diversión para retratar la importancia de cada instante</p>
            @*<a href="#" class="btn btn-default btn-lg btn1">more</a>*@
        </div>
    </div>
    <!--=============================loading===============================-->
    <div id="loading"></div>
    <!--==============================row6=================================-->
    <div class="row_6">
        <div class="container">
            <div class="row">
        		<div class="col-lg-12 col-md-12 col-sm-12">
                    <div id="options" class="clearfix" style="display:none">
                      <ul id="filters" class="pagination option-set clearfix" data-option-key="filter">
                        <li><a href="#filter" data-option-value="*" class="selected">Show all</a></li>
                        <li><a href="#filter" data-option-value=".people">people</a></li>
                        <li><a href="#filter" data-option-value=".macro ">macro</a></li>
                        <li><a href="#filter" data-option-value=".nature">nature</a></li>
                        <li><a href="#filter" data-option-value=".night">night</a></li>
                        <li><a href="#filter" data-option-value=".panoramic">panoramic</a></li>
                        <li><a href="#filter" data-option-value=".sports">sports</a></li>
                      </ul>
                    </div><!-- #options -->
                    <div class="containerExtra">
                        <div id="container" class="clearfix">
                            <div class="thumbs">
                                @*Abril*@
                                <div class="element transition people" data-category="transition">
                                    <a href="~/Content/Fotos/Fifteen/Abril/Abril (3).jpg" data-gallery="abril">
                                        <figure class="img-polaroid" title="Abril"><img src="~/Content/Fotos/Fifteen/_Portadas/Abril.jpg" alt=""></figure>
                                    </a>
                                    <span class="description">Abril</span>
                                </div>
                                @*Cati*@
                                <div class="element transition people" data-category="transition">
                                    <a href="~/Content/Fotos/Fifteen/Cati/Cati (2).jpg" data-gallery="cati">
                                        <figure class="img-polaroid" title="Cati"><img src="~/Content/Fotos/Fifteen/_Portadas/Cati.jpg" alt=""></figure>
                                    </a>
                                    <span class="description">Cati</span>
                                </div>
                                @*Cielo*@
                                <div class="element transition people" data-category="transition">
                                    <a href="~/Content/Fotos/Fifteen/Cielo/Cielo (2).jpg" data-gallery="cielo">
                                        <figure class="img-polaroid" title="Cielo"><img src="~/Content/Fotos/Fifteen/_Portadas/Cielo.jpg" alt=""></figure>
                                    </a>
                                    <span class="description">Cielo</span>
                                </div>
                                @*Giuli*@
                                <div class="element transition people" data-category="transition">
                                    <a href="~/Content/Fotos/Fifteen/Giuli/Giuli (5).jpg" data-gallery="giuli">
                                        <figure class="img-polaroid" title="Giuli"><img src="~/Content/Fotos/Fifteen/_Portadas/Giuli.jpg" alt=""></figure>
                                    </a>
                                    <span class="description">Giuli</span>
                                </div>
                                @*Martina Campos*@
                                <div class="element transition people" data-category="transition">
                                    <a href="~/Content/Fotos/Fifteen/Martina_Campos/Martina Campos (1).jpg" data-gallery="martina_campos">
                                        <figure class="img-polaroid" title="Martina Campos Perez"><img src="~/Content/Fotos/Fifteen/_Portadas/Martina Campos.jpg" alt=""></figure>
                                    </a>
                                    <span class="description">Martina Campos Perez</span>
                                </div>
                                @*Martina Isabella*@
                                <div class="element transition people" data-category="transition">
                                    <a href="~/Content/Fotos/Fifteen/Martina_Isabella/Martina Isabella (8).jpg" data-gallery="martina_isabella">
                                        <figure class="img-polaroid" title="Martina Isabella"><img src="~/Content/Fotos/Fifteen/_Portadas/Martina Isabella.jpg" alt=""></figure>
                                    </a>
                                    <span class="description">Martina Isabella</span>
                                </div>
                                @*Martina Poveda*@
                                <div class="element transition people" data-category="transition">
                                    <a href="~/Content/Fotos/Fifteen/Martina_Poveda/Martina Poveda (1).jpg" data-gallery="martina_poveda">
                                        <figure class="img-polaroid" title="Martina Poveda"><img src="~/Content/Fotos/Fifteen/_Portadas/Martina Poveda.jpg" alt=""></figure>
                                    </a>
                                    <span class="description">Martina Poveda</span>
                                </div>
                                @*Mica*@
                                <div class="element transition people" data-category="transition">
                                    <a href="~/Content/Fotos/Fifteen/Mica/Mica (4).jpg" data-gallery="mica">
                                        <figure class="img-polaroid" title="Mica"><img src="~/Content/Fotos/Fifteen/_Portadas/Mica.jpg" alt=""></figure>
                                    </a>
                                    <span class="description">Mica</span>
                                </div>
                                @*Sofia*@
                                <div class="element transition people" data-category="transition">
                                    <a href="~/Content/Fotos/Fifteen/Sofia/Sofia (2).jpg" data-gallery="sofia">
                                        <figure class="img-polaroid" title="Sofia"><img src="~/Content/Fotos/Fifteen/_Portadas/Sofia.jpg" alt=""></figure>
                                    </a>
                                    <span class="description">Sofia</span>
                                </div>
                                @*Sofia Peluso*@
                                <div class="element transition people" data-category="transition">
                                    <a href="~/Content/Fotos/Fifteen/Sofia_Peluso/Sofia Peluso (30).jpg" data-gallery="sofia_peluso">
                                        <figure class="img-polaroid" title="Sofia Peluso"><img src="~/Content/Fotos/Fifteen/_Portadas/Sofia Peluso.jpg" alt=""></figure>
                                    </a>
                                    <span class="description">Sofia Peluso</span>
                                </div>
                                @*Zoe*@
                                <div class="element transition people" data-category="transition">
                                    <a href="~/Content/Fotos/Fifteen/Zoe/Zoe (8).jpg" data-gallery="zoe">
                                        <figure class="img-polaroid" title="Zoe"><img src="~/Content/Fotos/Fifteen/_Portadas/Zoe.jpg" alt=""></figure>
                                    </a>
                                    <span class="description">Zoe</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="thumbs" style="display:none">
                        @*Abril*@
                        @for (int i = 1; i <= 15; i++)
                        {
                            if (i != 3)
                            {
                                <a href="~/Content/Fotos/Fifteen/Abril/Abril (@i).jpg" data-gallery="abril"></a>
                            }
                        }
                        
                        @*Cati*@
                        @for (int i = 1; i <= 14; i++)
                        {
                            if (i != 2)
                            {
                                <a href="~/Content/Fotos/Fifteen/Cati/Cati (@i).jpg" data-gallery="cati"></a>
                            }
                        }

                        @*Cielo*@
                        @for (int i = 1; i <= 11; i++)
                        {
                            if (i != 2)
                            {
                                <a href="~/Content/Fotos/Fifteen/Cielo/Cielo (@i).jpg" data-gallery="cielo"></a>
                            }
                        }

                        @*Giuli*@
                        @for (int i = 1; i <= 24; i++)
                        {
                            if (i != 5)
                            {
                                <a href="~/Content/Fotos/Fifteen/Giuli/Giuli (@i).jpg" data-gallery="giuli"></a>
                            }
                        }

                        @*Martina Campos*@
                        @for (int i = 1; i <= 32; i++)
                        {
                            if (i != 1)
                            {
                                <a href="~/Content/Fotos/Fifteen/Martina_Campos/Martina Campos (@i).jpg" data-gallery="martina_campos" ></a>
                            }
                        }

                        @*Martina Isabella*@
                        @for (int i = 1; i <= 9; i++)
                        {
                            if (i != 8)
                            {
                                <a href="~/Content/Fotos/Fifteen/Martina_Isabella/Martina Isabella (@i).jpg" data-gallery="martina_isabella"></a>
                            }
                        }

                        @*Martina Poveda*@
                        @for (int i = 1; i <= 21; i++)
                        {
                            if (i != 1)
                            {
                                <a href="~/Content/Fotos/Fifteen/Martina_Poveda/Martina Poveda (@i).jpg" data-gallery="martina_poveda"></a>
                            }
                        }

                        @*Mica*@
                        @for (int i = 1; i <= 15; i++)
                        {
                            if (i != 4)
                            {
                                <a href="~/Content/Fotos/Fifteen/Mica/Mica (@i).jpg" data-gallery="mica"></a>
                            }
                        }

                        @*Sofia*@
                        @for (int i = 1; i <= 8; i++)
                        {
                            if (i != 2)
                            {
                                <a href="~/Content/Fotos/Fifteen/Sofia/Sofia (@i).jpg" data-gallery="sofia"></a>
                            }
                        }

                        @*Sofia Peluso*@
                        @for (int i = 1; i <= 37; i++)
                        {
                            if (i != 30)
                            {
                                <a href="~/Content/Fotos/Fifteen/Sofia_Peluso/Sofia Peluso (@i).jpg" data-gallery="sofia_peluso"></a>
                            }
                        }

                        @*Zoe*@
                        @for (int i = 1; i <= 11; i++)
                        {
                            if (i != 8)
                            {
                                <a href="~/Content/Fotos/Fifteen/Zoe/Zoe (@i).jpg" data-gallery="zoe"></a>
                            }
                        }
                    </div>
	            </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>