@model IEnumerable<Model.Models.Event>
@{
    ViewBag.Title = "Fifteen";
}

<div class="rowSectionText">
    <div class="container">
        <p class="title2" style="margin-bottom: 10px; padding-top:25px">En Oh Lalá nos sentimos felices de acompañar a las quinceañeras en el momento más soñado de sus vidas.</p>
        <p class="title2">Buscamos la creatividad, innovación y diversión para retratar la importancia de cada instante.</p>
    </div>
</div>

@Html.Partial("~/Views/Shared/_BodySection.cshtml", Model)
