@{
    ViewBag.Title = "Inicio";
}

<div>
    <img src="~/Content/Photos/Home/Home (5)-r.jpg" />
</div>
<div class="rowSectionIndexText">
    <div class="container alignCenter">
        <div class="row rowHomeText">
            <p>Oh Lalá es un espacio creado para que tus momentos sean realmente inolvidables.</p>
            <p>La pasión por la fotografía nos empuja. Dejate llevar por Oh Lalá!</p>
        </div>
    </div>
</div>