@{
    ViewBag.Title = "Enviado";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript">
    window.setTimeout(function() {
        window.location.href = '@Url.Action("Index", "Home")';
    }, 5000);
    </script>
</head>

<body>
    <div id="content">
        <!--==============================row1=================================-->
        <div class="row_1">
            <div class="container">
                <p class="title2" style="margin-bottom: 10px">Su mensaje ha sido enviado correctamente.</p>
                <p class="title2">En breve nos pondremos en contacto contigo.</p>
            </div>
        </div>
        <!--==============================row2=================================-->
        <div class="row_2">
            <div class="container">
                <p class="title2">Volviendo a inicio...</p>
            </div>
        </div>
    </div>
</body>
</html>
