/*Fonts*/
@font-face {
    font-family: 'Bromello';
    src: url('../Content/fonts/bromello.ttf');
}
@font-face {
    font-family: 'HelloBestDay';
    src: url('../Content/fonts/HelloBestDay.ttf');
}

.body {
    background: #1e1e1e;
}
/*------ content ------- */
.title1 {
	color: #ffffff;
	font-family: 'Georgia', serif;
	font-size: 36px;
	line-height: 38px;
	font-weight: normal;
	margin-bottom: 24px;
}
.title2 {
	letter-spacing: 0;
	color: black;
	font-family: 'HelloBestDay', serif;
    font-size: 26px;
	line-height: 26px;
	font-weight: bolder;
	margin-bottom: 28px;
}
/*--------- footer --------- */
footer {
	padding: 64px 0;
	/*background: url("images/linefooter.jpg") top center repeat-x;*/
}
/*--------------social----------------*/
.social_icons {
	overflow: hidden;
	padding: 0;
	list-style: none;
	white-space: nowrap;
	position: relative;
	margin: 28px 0 0;
	z-index: 10;
}
.social_icons > li {
	float: left;
	cursor: pointer;
	width: 32px;
	height: 32px;
	overflow: hidden;
	margin-right: 14px;
}
.social_icons > li a {
	width: 32px;
	height: 32px;
	overflow: hidden;
    position: absolute;
}
.social_icons > li a img {
	position: relative;
	top: 0;
}
.social_icons > li a:hover img {
	position: relative;
	/*top: -32px;*/
}
.footerlogo {
	text-align: center;
}
.smalllogo2 {
	position: relative;
	top: 5px;
}
.footerpriv {
	margin-top: 21px;
	margin-right: 66px;
	text-align: right;
	font-family: 'Georgia', serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: normal;
	color: black;
}
.footerpriv a {
	font-family: 'Georgia', serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: normal;
	color: #f2eee5;
	text-transform: uppercase;
}
.footerpriv a:hover {
	text-decoration: none;
	color: #eb5368;
}
/**************** footer end ***************/
/**************************************************/
/**************** New Styles ***************/

.alignCenter {
    text-align: center;
    margin: 0 auto;
}

.navLogo {
    float: left;
    z-index: 9999;
    margin-top: 10px;
}

#footer{
  background-color:#1e1e1e;	
}

@media only screen and (max-width: 1100px) {
    .eventContainer {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.eventTitle{
    font-size:40px;
    padding-top: 50px;
    padding-bottom: 15px;
}

.eventDate{
    padding-bottom: 15px;
    color: #888888;
}

@media only screen and (min-width: 991px) {
    .textSection {
        align-self: center;
    }
}

@media only screen and (max-width: 991px) {
    .textSection {
        padding-top: 2rem;
        padding-left: 10%;
        padding-right: 10%;
    }
}


@media only screen and (min-width: 991px) {
    .entrySection {
        justify-content: center;
        flex-flow: column;
        align-items: flex-end;
        display: flex;
    }
}

@media only screen and (max-width: 991px) {
    .entrySection {
        display: block;
        justify-content: center;
    }
}

@media only screen and (min-width: 991px) {
    .entryEventSection {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width: 991px) {
    .entryEventSection {
        justify-content: center;
        flex-flow: column;
        align-items: flex-end;
        display: flex;
    }
}

@media only screen and (max-width: 991px) {
    .eventImageSection {
        order: 1;
        width: 100%;
    }
}

@media only screen and (max-width: 991px) {
    .eventTitleSection {
        order: 2;
        width: 100%;
    }
}

.eventTitleSection > a > p {
    font-size: xx-large;
}

.eventTitleSection > p {
    font-size: x-large;
    font-family: 'Shadows Into Light', cursive;
    font-weight: 500;
}

.eventTitleSection > a {
    font-size: large;
    font-family: 'Shadows Into Light', cursive;
    font-weight: 500;
}

.eventSection {
    margin-top: 20px;
}

.eventIntrodutionSection {
    color: gray;
}

.eventImages {
    padding-bottom: 20px;
}

#layoutHeader {
    background: #1e1e1e;
}

/*NavBar styles*/

.navbar-default {
    background-color: #1e1e1e;
    border-color: #1e1e1e;
    margin-top: 10px;
    margin-bottom: 10px;
    float: right;
}
@media (max-width: 767px) {
    .navbar-default {
        margin-top: 0px;
        margin-bottom: 0px;
        padding-top: 10px;
    }
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #f8ff85;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
  font-family: 'Shadows Into Light', cursive;
  font-size: x-large;
  padding-left: 6px;
  padding-right: 6px;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #f8ff85;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #f8ff85;
  background-color: #1e1e1e;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #f8ff85;
  background-color: #1e1e1e;
}
.navbar-default .navbar-toggle {
  border-color: #1e1e1e;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #1e1e1e;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #f8ff85;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #f8ff85;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #f8ff85;
    background-color: #1e1e1e;
  }
}

/*--------------------------*/

#intercalationItemOne {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#intercalationItemOne > div {
    /*background: #ececec;*/
    padding-top: 15px;
    padding-bottom: 15px;
}

#intercalationItemTwo {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#intercalationItemTwo > div {
    /*background: #ececec;*/
    padding-top: 15px;
    padding-bottom: 15px;
}

.footerLink {
    font-family: 'Shadows Into Light', cursive;
    font-size: large;
}

.rowSectionText {
    font-size: x-large;
    font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
    text-align: center;
    margin-top: 25px;
}

.rowEventImages {
    /*background: #ececec;*/
    padding-top: 15px;
}

.descriptionText {
    font-size: large;
    font-family: 'Shadows Into Light', cursive;
    font-weight: bolder;
}

@media only screen and (max-width: 640px) {
    .descriptionText {
        font-size: medium;
    }
}

.textSocialDivs {
    text-align:left;
    font-size: x-large;
    font-family: 'Shadows Into Light', cursive;
    font-weight: bolder;
}

/* Index */
/*--------------------------------------------------*/

.rowSectionIndexText {
    font-size: x-large;
    font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

@media only screen and (max-width: 640px) {
    .rowSectionIndexText {
        font-size: large;
    }
}

/*--------------------------------------------------*/