@model IEnumerable<Model.Models.Event>
@{
    ViewBag.Title = "Inicio";
}

<div>
    <img src="Content/Fotos/Home/Home (5)-r.jpg">
</div>
@*@Html.Partial("~/Views/Shared/_BodySection.cshtml", Model)*@