@{
    ViewBag.Title = "NewBorn";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
</head>
<body>
    <div id="content" class="content">
        <div class="row_1_Section">
            <div class="container">
                <p class="title2" style="margin-bottom: 10px; padding-top:25px">Texto NewBorn</p>
                <p class="title2"></p>
                @*<a href="#" class="btn btn-default btn-lg btn1">more</a>*@
            </div>
        </div>
        <!--==============================row6=================================-->
        <div class="row_6">
            <div class="container">
                <div class="row">
                    <div class="containerExtra">
                        <div id="container" class="clearfix">
                            <div>
                                @*NewBorn*@
                                @for (int i = 1; i <= 33; i++)
                                {
                                    <img class="imagesSection" alt="NewBorn @(i)" src="~/Content/Fotos/NewBorn/@(i).jpg">
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*@Html.Partial("_SocialLinks");*@
</body>
</html>