@{
    ViewBag.Title = "Enviado";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
</head>

<body>
    <div id="content">
        <!--==============================row1=================================-->
        <div class="row_1">
            <div class="container">
                <p class="title2" style="margin-bottom: 10px">Texto Contacto.</p>
                <p class="title2"></p>
            </div>
        </div>
        <!--==============================row2=================================-->
        <div class="row_2">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="well well-sm">
                            <h3>Tu mensaje ha sido enviado</h3>
                        </div>
                    </div>
                </div>
            </div>
            @*<h1>Elegant Contact Form</h1>
            <form class="cf">
                <div class="half left cf">
                    <input type="text" id="input-name" placeholder="Name" required="required">
                    <input type="email" id="input-email" placeholder="Email address">
                    <input type="text" id="input-subject" placeholder="Subject">
                </div>
                <div class="half right cf">
                    <textarea name="message" type="text" id="input-message" placeholder="Message"></textarea>
                </div>
                <input type="submit" value="Submit" id="input-submit">
            </form>*@
        </div>
    </div>
</body>
</html>
