@model IEnumerable<Model.Models.Event>

<div class="container">
    <div class="rowSectionImages">
        @foreach (var item in Model)
        {
            <p>
                @item.Date.ToShortDateString()
            </p>
            <p>
                @item.Title
            </p>
            <div id="wrapper">
                <div class="element">
                    <a href='@Url.Action(Html.DisplayFor(modelItem => item.TypeEvent.Name).ToHtmlString(), "Home", new { identifier = Html.DisplayFor(modelItem => item.Path).ToHtmlString() })'>
                        <figure><img class="imagesSection" alt=@Html.DisplayFor(modelItem => item.Title) src="~/@Html.DisplayFor(modelItem => item.CoverImage.ImagePath)"></figure>
                        <span></span>
                    </a>
                </div>
            </div>
            <p>
                @item.Introduction
            </p>
        }
    </div>
</div>
