@model Model.Models.Event
<div id="fb-root"></div>
<script>
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.8&appId=402355769863896";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<div class="rowSectionText">
    <div class="container alignCenter">
        <div class="row">
            <p class="eventTitle">
                @Model.Title
            </p>
            @{
                System.Globalization.DateTimeFormatInfo dtinfo = new System.Globalization.CultureInfo("es-ES", false).DateTimeFormat;
                var month = dtinfo.GetMonthName(Model.Date.Month);
            }
            <p class="eventDate">
                @Model.Date.Day de @month de @Model.Date.Year
            </p>
        </div>
    </div>
</div>
<div class="container alignCenter eventSection">
    <div class="row">
        <div class="col-lg-9 rowEventImages">
            <div class="eventImages">
                <figure><img src="~/@Html.DisplayFor(modelItem => Model.CoverImage.ImagePath)"></figure>
            </div>
            <p class="descriptionText">
                @Model.Text
            </p>
            @foreach (var image in Model.Images)
        {
                <div class="eventImages">
                    <figure><img src="~/@image.ImagePath"></figure>
                </div>
            }
        </div>
        <div class="col-lg-3">
            <p class="textSocialDivs">
                Facebook
            </p>
            <p>
                <div class="fb-page alignCenter socialDivs"
                     data-href="https://www.facebook.com/OhLalaPH"
                     data-width="340"
                     data-hide-cover="false"
                     data-show-facepile="true">
                </div>
            </p>
            <p class="textSocialDivs">
                Instagram
            </p>
            <p>
                <!-- SnapWidget -->
                <script src="https://snapwidget.com/js/snapwidget.js"></script>
                <iframe src="https://snapwidget.com/embed/339447" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%; "></iframe>
            </p>
        </div>
    </div>
</div>

