<div class="socialLinks">
    <a data-pin-do="buttonBookmark" data-pin-tall="true" href="https://www.pinterest.com/pin/create/button/"></a>
</div>
<script async defer src="//assets.pinterest.com/js/pinit.js"></script>