@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}
@*<script type="text/javascript">
    window.setTimeout(function() {
        window.location.href = '@Url.Action("Index", "Home")';
    }, 5000);
</script>*@
<body>
    <div id="content">
        <div class="jumbotron">
            <h1>Error</h1>
            <p class="lead">La página a la que intenta acceder no existe.</p>
        </div>
    </div>
</body>
