@{
    ViewBag.Title = "Sofia";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
</head>

<body>
    <div id="content">
        <div class="row_1_Section">
            <div class="container">
                <p class="title2" style="margin-bottom: 10px; padding-top:25px">Texto</p>
                <p class="title2">Sofia</p>
            </div>
        </div>
        <!--==============================row6=================================-->
        <div class="row_6">
            <div class="container">
                <div class="row">
                    <div class="containerExtra">
                        <div id="container" class="clearfix">
                            <div>
                                @*Sofia Peluso*@
                                @for (int i = 1; i <= 37; i++)
                                {
                                    <img class="imagesSection" src="~/Content/Fotos/Fifteen/Sofia_Peluso/Sofia Peluso (@i).jpg">
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>